<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>My Simple One-Page Web App</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <p>This is a simple one-page web application using Node.js, Express.js, and EJS.</p>
</body>
</html>

